<h1>Meet the freaks</h1>
<% @monsters.each do |monster| %>
    <h2>Name: <%= monster.name %> </h2>
    <h3>HP: <%= monster.hp %> </h3>

<% if monster.image? %>
<%= image_tag monster.image_url(:large) %>
<% end %>

<% end %>