<%= form_for @battle, :url => "/users/#{current_user.id}/battles/#{@battle.id}" do |f| %>

  <%= f.hidden_field :level, :value => current_user.level %>



  <div class="actions">
    <%= f.submit  "BEGIN BATTLE"%>
  </div>
<% end %>
