/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logout {
    float: right;
}



*{
    font-family: 'karmatic-arcade' ;
   
}

a:hover{
    color: rgb(249, 250, 243);
}


#monsters_index div, #monsters_index h1, #monsters_index h2, #monsters_index h3, #monsters_index p, #monsters_index a, #monsters_index img{
    text-align: center;

}

.yellow {
color: yellow;
}