.container{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 99px);
    grid-gap: 5px;
  /*  justify-items: stretch;
    justify-content: stretch;
    align-items: stretch; */
  }
  .item_1{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    border: 3px solid green;
    }
    .item_2{
      grid-column: 1;
    grid-row: 2;
    text-align: center;
    }
    .item_3{
      grid-column: 1;
    grid-row: 3;
    text-align: center;
    }
    .item_4{
      grid-column: 1;
      grid-row: 4;
      object-fit: fill;
      text-align: center;
      
    }
    .item_5{
      grid-column: 3;
      grid-row: 2;
      text-align: center;
    }
    .item_6{
      grid-column: 3;
      grid-row: 3;
      text-align: center;
    }
    .item_7{
        grid-column: 3;
        grid-row: 4;
        text-align: center;
      }
      .item_8{
        grid-column: 3/4;
        grid-row: 1;
      }
      .item_9{
        grid-column: 3;
        grid-row: 2/3;
      }