body{
    background-color: #38a05f;
}

.headliner{
    background-color: darkcyan;

}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 20px;
}

.member{
    
    text-align: center;
}

.selected{
    
    border: solid rgb(7, 214, 0) 4px;

}

.swapable{
  
    border: solid orangered 4px;

}

#selected_members{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-auto-flow: row;
    justify-content: center;
}

.p_name{

}

.p_hp{

}

.p_element{

}

input.pretty_button{
    display: inline-block;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: rgb(232, 234, 248);
   
    border: solid rgb(43, 62, 233) 3px;
    background-color: rgb(59, 173, 145);
    cursor: pointer;
}

.button_holder{
    justify-content: center;
    text-align: center;
    margin-top: 9px;
}

.roster_image{
    max-width:100%;
    max-height:100%;
}

