 
@font-face {
    font-family: 'karmatic-arcade';
    src: url('/assets/ka1.ttf') format('truetype')
}

@font-face {
    font-family: 'Draconian-Typewriter';
    src: url('/assets/DraconianTypewritter001.ttf') format('truetype')
}
 
 #users_show h1, #users_show h2, #users_show  h3, #users_show  p, #users_show  div{

    text-align: center;
   
}
#users_show a{
    padding-left: 10px;
}

#users_show  img{
    align-content: center;
}

#users_show body{
    background-color: #38a05f;
}





/*everything else*/

.welcome_text p.quote{
    font-family: 'Draconian-Typewriter';
    margin-top: 33px;
    font-size: 23px;
    text-align: center;
    text-shadow: 2px, 2px, white;
}
.welcome_text p.open{
    font-size: 33px;
    text-align: center;
}

div.battle_button{
    text-align: center;
}

input#email{
    font-family: sans-serif;
}

.short_pic{
    width: 30px;
    height: auto;
    margin-bottom: -5px;
}